.main_user {
    width: 100%;
    background-color: #d1dfde;
    height: 100vh;
    margin: 0px;
}
.user_div {
    width: 40%;
    background: #83c7c4;
    padding: 40px 0px 40px 0px;
}
.upload_image_div {
    width: 40%;
    background: #83c7c4;
    padding: 40px 0px 40px 0px;
}
.upload_image_div a {
    background: #69ece6;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    color: #325d98;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}
.user_div a {
    background: #69ece6;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    color: #325d98;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}
